  
<%-include('../templates/header')-%>

<body>
  <div class="container-fluid dd all">
    <div class="row">
      <div class="col-6 p-5">
        <img class="hpimg" style="width: fit-content;" src="../../images/bloodPoint.png" alt="">
      </div>
      <div class="col-6 p-5">
        <h1 style="color: white;">Blood Bank</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum</p>

        <a href="/register"><button class="btn but">Register</button></a>
        <a href="/login"> <button class="btn but-2">Log In</button></a>
      </div>
    </div>
  </div>
  <%-include('../templates/footer')-%>